.accordion { 
	margin: 1em 0 1.5em 0;
padding: 10px;
background-color: #f9f9f9;
overflow: hidden;
}
.accordion.accordion__active {

}
.accordion__stacked {
	margin: 1em 0 1.5em 0;
}
.accordion__stacked .accordion {
	margin: 0;
}
.accordion > div {
	margin: 1em 0 0em 20px;
	display: none;
}
.accordion.accordion__active > div {
	display: block;
	position: relative;
}
.accordion h4 {
	display: block;
	margin: 0;
	height: 20px;
	font: normal normal bold 1em/20px Arial, sans-serif;
}
.accordion h4:hover { 
	cursor: pointer; 
	text-decoration: underline; 
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.accordion h4:before {
	content: "+";
	display: block;
	float: left;
	width: 20px;
	height: 20px;
	/*text-align: center;*/
	text-indent: 5px;
	line-height: 20px;
}
.accordion.accordion__active h4:before {
	content: "-";
}
.accordion__stacked .accordion.accordion__active {
	border-bottom: 1px dotted #ccc;
}